.body-text {
    -fx-font-size: 1.166667em;
    -fx-line-spacing: 0.25em;
    -fx-text-fill: body_label_color;
}

.sampler-odd-rows {
    -fx-background-color: #f6f6f6;
}

.sampler-even-rows {
    -fx-background-color: white;
}

.grid-label {
    -fx-text-fill: grid_label_color;
}

.top-row {
    -fx-border-width: 1px;
    -fx-border-radius: 5px;

    -fx-background-radius: 5px 5px 0 5px;
}

.row {
    -fx-border-width: 1px;
}

.bottom-row {
    -fx-border-width: 1px;
    -fx-border-radius: 5px;

    -fx-border-radius: 0 5px 5px 5px;
}

.control-container {
    -fx-border-width: 1px;
    -fx-border-radius: 5px;

    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.control-container > .control-configuration-container {
    -fx-border-width: 0 0 0 1px;
}


.control-container > .inner-container,
.control-container > .control-configuration-container {
    -fx-padding: 1.5em;
}

.control-container > .control-configuration-container {
    -fx-background-radius: 0 5px 5px 0;
}

/*******************************************************************************
 *                                                                             *
 * NavigationPane (FXComponents)                                               *
 *                                                                             *
 ******************************************************************************/

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container {
    -fx-padding: 0 0 0 7px;
}

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container > .button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container > .button:hover {
    -fx-background-color: #f8f8f8;
}

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container > .button:armed {
    -fx-background-color: #f1f1f1;
}

.navigation-pane > .main-container > .content {
    -fx-background-color: white;
}