.body-text {
     body_label_color: #cfcfcf;
}

.sampler-odd-rows {
     -fx-background-color: #252525;
}

.sampler-even-rows {
     -fx-background-color: #282828;
}

.grid-label {
     grid_label_color: #ccc;
}

.top-row {
    -fx-border-color: #222 #222 transparent #222;
}

.row {
    -fx-border-color: transparent #222 transparent #222;
}

.bottom-row {
    -fx-border-color: transparent #222 #222 #222;
}

.control-container {
    -fx-background-color: #222;
    -fx-border-color: #111;
}

.control-configuration-container {
    -fx-background-color: #282828;
    -fx-border-color: #111;
}

/*******************************************************************************
 *                                                                             *
 * NavigationPane (FXComponents)                                               *
 *                                                                             *
 ******************************************************************************/

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container > .button {
    -fx-graphic: url(hamburger_icon_white.png);
}

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container > .button:hover {
    -fx-background-color: background_hover_color;
}

.navigation-pane > .main-container > .pane > .top-container > .hamburger-container > .button:armed {
    -fx-background-color: #303030;
}

.navigation-pane > .main-container > .pane > .settings-container .label {
    -fx-graphic: url(settings_icon_white.png);
}

.navigation-pane > .main-container > .pane .container-item-view > .item-container > .arrow-container > .arrow {
    -fx-background-color: white;
}

.navigation-pane > .main-container > .content {
    -fx-background-color: #282828;
    -fx-border-color: #282828;
}